:root {
  --ifm-color-primary: hsl(235deg, 98%, 49%);
  --ifm-color-primary-dark: hsl(235deg, 98%, 45%);
  --ifm-color-primary-darker: hsl(235deg, 98%, 40%);
  --ifm-color-primary-darkest: hsl(235deg, 98%, 35%);
  --ifm-color-primary-light: hsl(235deg, 98%, 55%);
  --ifm-color-primary-lighter: hsl(235deg, 98%, 60%);
  --ifm-color-primary-lightest: hsl(235deg, 98%, 65%);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: hsl(235deg, 85%, 64%);
  --ifm-color-primary-dark: hsl(235deg, 85%, 60%);
  --ifm-color-primary-darker: hsl(235deg, 85%, 55%);
  --ifm-color-primary-darkest: hsl(235deg, 85%, 50%);
  --ifm-color-primary-light: hsl(235deg, 85%, 68%);
  --ifm-color-primary-lighter: hsl(235deg, 85%, 72%);
  --ifm-color-primary-lightest: hsl(235deg, 85%, 76%);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.buttons > button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 3px solid var(--ifm-color-primary);
}

.buttons > button:hover {
  transform: scale(1.1)
}
